body {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #FFFFFF;
}

.parallax {
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.parallax-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
    z-index: 1;
}

.parallax-content h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-bottom: 5px solid #41CE34;
}

.parallax-content p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
}

.about-content {
    padding: 4rem 0;
    background: url('../assets/about/org.jpg') fixed center center / cover;
    color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    margin: 3rem 0;
    overflow: hidden;
    position: relative;
}

.about-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.about-content h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.about-content p {
    text-align: justify;
    line-height: 1.6;
    font-size: 24px;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.about-content li {
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .parallax {
        height: 70vh;
    }
    .parallax-content {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .parallax-content h1 {
        margin-top: 50px;
        font-size: 2rem;
    }
    .parallax-content p {
        font-size: 1rem;
    }
    .about-content {
        padding: 2rem 0;
    }
    .about-content h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .about-content p {
        font-size: 24px;
        line-height: 1.5;
    }
    .row.mt-5 .col-md-6 {
        margin-bottom: 2rem;
    }
    .row.mt-5 .col-md-6:last-child {
        margin-bottom: 0;
    }
}
