/* Parallax Styles */

.parallax-container {
    height: 870px;
    margin-top: -100px !important;
    overflow: hidden;
    position: relative;
}

.parallax-image {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

@media (max-width: 767px) {
    .parallax-container {
        height: 480px !important;
        margin-top: 0 !important;
    }
}

