/* Carousel Styles */

#carouselExampleIndicators {
    height: 870px;
    margin-top: -100px !important;
    background-color: #FF8C69;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#carouselExampleIndicators .carousel-item img {
    height: 890px;
    object-fit: cover !important;
}

@media (max-width: 767px) {
    #carouselExampleIndicators {
        height: 480px !important;
        margin-top: 0 !important;
    }
    #carouselExampleIndicators .carousel-item img {
        height: 500px !important;
    }
}

